################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/2. Basics/HelloOrleans/.vs/HelloOrleans/v16
/2. Basics/HelloOrleans/Grains/obj
/2. Basics/HelloOrleans/Grains/bin/Debug/netstandard2.0
/2. Basics/HelloOrleans/Interfaces/obj
/2. Basics/HelloOrleans/Interfaces/bin/Debug/netstandard2.0
/2. Basics/HelloOrleans/Silo.Host/obj
/2. Basics/HelloOrleans/Silo.Host/bin/Debug/netcoreapp3.1
2. Basics/HelloOrleans/Client/bin
2. Basics/HelloOrleans/Client/obj
/10. StockTickerApp/StockTickerApp/.vs/StockTickerApp/v16/Server/sqlite3
/10. StockTickerApp/StockTickerApp/Grains/bin/Debug/netstandard2.0
/10. StockTickerApp/StockTickerApp/Grains/obj
/10. StockTickerApp/StockTickerApp/Interfaces/bin/Debug/netstandard2.0
/10. StockTickerApp/StockTickerApp/Interfaces/obj
/10. StockTickerApp/StockTickerApp/SiloHost/bin/Debug/netcoreapp3.1
/10. StockTickerApp/StockTickerApp/SiloHost/obj
/10. StockTickerApp/StockTickerApp/StocksStreamSubscriptionClient/bin/Debug/netcoreapp3.1
/10. StockTickerApp/StockTickerApp/StocksStreamSubscriptionClient/obj
